<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content=""Palomi Nihalani">
    <meta name="keywords" content="Carnegie Mellon Informatiion Systens">
    <meta name=""description" content="Palomi Nihalani professional website">
    <title>Palomi Nihalani</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
</head>
<body>
    <header>
        <h1 id="webname">Palomi Nihalani</h1>
        <nav class="navlinks">
            <a href="../index.html" >about</a>
            <a href="./cv.html">resume</a>
            <a href="./contact.html" >contact</a>
            <a href="./fun.html">hobbies</a> 
        </nav>
    <div class = "main">
        <h2>Curriculum Vitae</h2>
        <table> 
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>North Andover High School</td>
                <td>Recieved a high school diploma while completing a rigorous academic curriculum, including honors and AP courses. </td>
            </tr>
            <tr>
                <td>Carnegie Mellon University</td>
                <td>Currently pursuing a degree in Information Systems. gaining a strong foundation in technology and business processes.</td>
            </tr>
            <tr>
                <td>BrightView Senior Living</td>
                <td>Led dining operations in a fast-paced senior living environment, assisting residents with meal selections and
                    maintained a clean, organized dining area in compliance with health and safety standards.</td>
            </tr>
            <tr>
                <td>TiE Young Entrepreneurs </td>
                <td>Founded a startup dedicated to helping postpartum women and pitched the startup to Venture Capitalists to obtain
                    funding. Built the business model, go-to-market strategy, and led the pitch-deck development.</td>
            </tr>
            <tr>
                <td>Girls Who Code</td>
                <td>Accepted to a selective summer program designed for high school girls to learn web-design and development through
                    hands-on projects and mentorship. Developed multiple JavaScript based interactive games</td>
            </tr>

        </table>
        <a href="../static/resume.pdf" target="_blank">My resume (PDF version)</a>

    </div>
    <footer>
        <p>&copy; 2025 designed and coded by Palomi Nihalani </p>
    </footer>
    </header>

    
</body>
</html>