<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content=""Palomi Nihalani">
    <meta name="keywords" content="Carnegie Mellon Informatiion Systens">
    <meta name=""description" content="Palomi Nihalani professional website">
    <title>Palomi Nihalani</title>
</head>
<body style="font-family: Arial">
    <header>
        <h1>Palomi Nihalani</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="./cv.html">CV</a>
            <a href="./contact.html">Contact Me</a>
            <a href="./fun.html">For fun</a> 
        </nav>
    </header>
    <div class = "main">
        <h2>Things I love to do for fun</h2>
        <ul>
            <li>Paint</li>
            <li>Bake</li>
            <li>Listening to music</li>
            <li>Playing tennis</li>
            <li>Watching the sunset</li>
        </ul>
        
    </div>
    <footer>
        <p>&copy 2025 designed and coded by Palomi Nihalani </p>
    </footer>
    </header>

    
</body>
</html>