<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../static/jquery-3.7.1.min.js"></script>
    <script src="../static/script.js" defer></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Palomi Nihalani">
    <meta name="keywords" content="Carnegie Mellon Informatiion Systens">
    <meta name="description" content="Palomi Nihalani professional website">
    <title>Palomi Nihalani</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">Palomi Nihalani</h1>
        <nav class="navlinks">
            <a href="../index.html">about</a>
            <a href="./cv.html">resume</a>
            <a href="./contact.html">contact</a>
            <a href="./fun.html">hobbies</a> 
        </nav>
    </header>
    <div class = "main">
        <div class="item1">
            <h2>Things I love to do for fun</h2>
            <!-- <button id="showButton" onclick="showList()">Click to see...</button> -->
            <ul id="myList">
                <li>Paint</li>
                <li>Bake</li>
                <li>Listening to music</li>
                <li>Playing tennis</li>
                <li>Watching the sunset</li>
            </ul>
        </div>
        <div class ="item2">
            <img src="../static/fun.jpg" alt="Fun Image" class="funIMG">
        </div>
        <div class="item3">
            <iframe src="https://www.youtube.com/embed/9r5KQoOMQJQ" frameborder="0" title="James Charles Falling in Sister Squad Christmas Vlog" class="funVideo" allowfullscreen></iframe>
        </div>
        <div class="item4">
            <div class="container">
                <h2>Need Some Advice?</h2>
                <p id="adviceText">Click the button to get a random piece of advice!</p>
                <button id="adviceButton" onclick="getAdvice()">Get Advice</button>
            </div>
        </div>
    </div>
    <footer>
        <p id="copyYear">designed and coded by Palomi Nihalani &copy;</p>
    </footer>
   

    
</body>
</html>